<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Einstellungen</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Standort</string>
			<key>Key</key>
			<string>location</string>
			<key>DefaultValue</key>
			<string>standort-1</string>
			<key>Titles</key>
			<array>
				<string>Mensa Tarforst</string>
				<string>Bistro A/B</string>
				<string>Mensa Petrisberg</string>
				<string>Mensa Schneidershof</string>
				<string>Mensa Irminenfreihof</string>
				<string>forU</string>
			</array>
			<key>Values</key>
			<array>
				<string>standort-1</string>
				<string>standort-2</string>
				<string>standort-3</string>
				<string>standort-4</string>
				<string>standort-5</string>
				<string>standort-7</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
